@model GPSMonitoreo.Web.ViewModels.TabbedLayoutForm
@{ 
	//public var xx = "afdddasf";

	var urlArr = Context.Request.Path.Value.Split('/');
	var postUrl = string.Join("/", urlArr.Take(urlArr.Length - 1)) + "/save";


}
<div class="panel_input">
	<div class="header">
		@Model.Title
	</div>
	<div class="body">
		<div>
			<ul>
				<li>Principal</li>
				 @RenderSection("tabtitles", false)
			</ul>
			<div style="padding:5px">
				<form method="post" action="@postUrl" id="@Model.FormId">
					<table class="table_edit jqx-wide">
						<tbody>
							<tr>
								<td style="width:120px;">Código Interno</td>
								<td style="width:150px;"><input type="text" name="id" class="input_label_readonly" /></td>
								<td style="width:10px;">&nbsp;</td>
								<td style="width:120px;">Código Auxiliar</td>
								<td style="width:150px;"><input type="text" name="codigo" maxlength="10" /></td>
							</tr>
							@RenderSection("form_sub1", false)
							<tr>
								<td>Fecha creación</td>
								<td><span class="input_label_readonly">10/10/2016 18:35</span></td>
								<td></td>
								<td>Fecha modificación</td>
								<td><div class="input_label_readonly">10/10/2016 18:35</div></td>
							</tr>
							<tr>
								<td>Usuario creación</td>
								<td><span class="input_label_readonly">jjjj</span></td>
								<td></td>
								<td>Usuario modificación</td>
								<td><div class="input_label_readonly">xxx</div></td>
							</tr>
							<tr>
								<td>Descripción larga</td>
								<td colspan="4"><input type="text" name="descripcion_larga" maxlength="52" /></td>
							</tr>
							<tr>
								<td>Descripción mediana</td>
								<td colspan="4"><input type="text" name="descripcion_mediana" maxlength="30" style="width:250px" /></td>
							</tr>
							<tr>
								<td>Descripción corta</td>
								<td colspan="4"><input type="text" name="descripcion_corta" maxlength="15" style="width:150px" /></td>
							</tr>
							<tr>
								<td>Abreviacion</td>
								<td colspan="4"><input type="text" name="abreviacion" maxlength="5" style="width:50px" /></td>
							</tr>
							<tr>
								<td>Observaciones</td>
								<td colspan="4"><div id="@(Model.FormId)_observaciones" field_name="observaciones" style="height:50px"></div></td>
							</tr>
							<tr>
								<td>Activo</td>
								<td colspan="4"><div id="@(Model.FormId)_estado" field_name="estado" class="jqx-checkbox-nomargin"></div></td>
							</tr>
							<tr>
								<td colspan="5">&nbsp;</td>
							</tr>
						</tbody>
						@RenderSection("form_sub2", false)
					</table>
					<table class="table_edit jqx-wide" style="width:100%">
						@RenderSection("form_table2", false)
					</table>
				</form>
				<br/><br/>
			</div>
			@RenderSection("tabs", false)
		</div>
	</div>
	<div class="footer">
		<button type="button">Guardar</button>
		<div class="input_error"></div>
	</div>
</div>
<script script-manager-render="tabbed_layout_form">
//RemoteContent.hook(App.$splittedBody.$right, '@Context.Request.Path.Value', function($container){
App.hookTab('@Context.Request.Path.Value', function($container, tabIndex, tabs){
	var $form = $container.find('#@Model.FormId').jqxForm();
	$container.$form = $form;

	var f = $form[0];

	window.myform = $form;


	form.add([f.elements.id, f.elements.codigo, f.elements.descripcion_larga, f.elements.descripcion_mediana, f.elements.descripcion_corta, f.elements.abreviacion], 'jqxInput');
	form.add('#@(Model.FormId)_observaciones', 'jqxTextArea');
	form.add('#@(Model.FormId)_estado', 'jqxCheckBox');


	var $button = $container.find('>div >div button');


	$form.$errorMessageContainer = $button.parent().find('.input_error');
	console.log($form.$errorMessageContainer);

	$button.$form = $form;

	$button.click(function(){
		App.postFormJsonFromButton($button, function(response){
			$form.setWidgetValue('id', response.id);
		}, null, {popupErrorMessage: true, resetFormErrors : true});
	});

	$button.jqxButton({template: 'info'});


	var tabInitialized = function(tab){};


	$container.find('> div > div.body > div').jqxTabs({ width: '100%', height: '100%',
		initTabContent: function (tab) {
			tabInitialized(tab);
		}
	});



	//script-manager["form_init"]



	//script-manager["form_sub2_init"]



});
	

</script>